<h1>Listing orders</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Wallet</th>
    <th>Amount</th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.email %></td>
      <td><%= order.telephone %></td>
      <td><%= order.wallet %></td>
      <td><%= order.amount %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>