<%= form_for @order do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :telephone %><br>
    <%= form.text_field :telephone %>
  </p>

  <p>
    <%= form.label :wallet %><br>
    <%= form.text_field :wallet %>
  </p>
    
  <p>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>