<!DOCTYPE html>
<html>
<head>
  <link href="assets/qrcode.css.less" rel="stylesheet">
  
</head>
<body>
  <h1>QR Teste</h1>
  <%= render_qr_code("bitcoin:1PiJsjpEy2SmPQSDVuURds7ZU8CAbrMQS7?amount=0.005") %>

  <p>
    <strong>Name:</strong>
    <%= @order.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @order.email %>
  </p>
 
  <p>
    <strong>Telephone:</strong>
    <%= @order.telephone %>
  </p>

  <p>
    <strong>Wallet:</strong>
    <%= @order.wallet %>
  </p>
 
  <p>
    <strong>Amount:</strong>
    <%= @order.amount %>
  </p>

  <%= link_to 'Back', root_path %>
</body>
</html>