<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "qrcode" %>
  
</head>
<body>
  <h1>QR Teste</h1>
  <%= render_qr_code("bitcoin:#{@order.wallet}?amount=#{@order.amount}") %>

  <p>
    <strong>Name:</strong>
    <%= @order.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @order.email %>
  </p>
 
  <p>
    <strong>Telephone:</strong>
    <%= @order.telephone %>
  </p>

  <p>
    <strong>Wallet:</strong>
    <%= @order.wallet %>
  </p>
 
  <p>
    <strong>Amount:</strong>
    <%= @order.amount %>
  </p>

  <%= link_to 'Back', root_path %>
</body>
</html>